cellpose==4.0.1
scipy==1.10.1
numpy>=1.20.0
tqdm>=4.60.0
opencv-python-headless>=4.5.0
fastremap>=1.12.2
natsort>=7.0.1
tifffile>=2021.4.8
imagecodecs>=2021.4.28
roifile>=2021.3.3
torch>=2.1.0
pillow>=8.3.0
